* {
  /* Will apply to all the elements */
  margin: 0;
  padding: 0;
}

body {
  /* background-color: blue; */

  color: #444444; /* This will not work because the specifity is the same already applied below*/
  /*Inehrited valuesa are the once who have the lowest priority  */
  font-family: sans-serif;

  /* border-top: solid 10px blue; tHE BORDER does not have inheritance */
}

article {
  margin-bottom: 60px;
}

nav {
  font-size: 18px;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
}

/* ELEMENT SELETOR */
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
}

.post-header {
  margin-bottom: 40px;
}

/* 
h2,
h3,
h4,
p,
li {
   color: red; removing this will make the color property in the body to 
}
 */

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  /*Collapsing margin  */
  /* which one is longer or higher will be applied , not add up*/
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  /* 1.5 * font-size */
  line-height: 1.5;
  margin-bottom: 15px;
}

/* it will select all p inside the footer (DESCENDANT SELECTOR) */
/* footer p {
  font-size: 16px;
} */
#copyright {
  font-size: 16px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin: 0;
}

/* article header p {
  font-style: italic;
} */
#author {
  /* Using id -> #idname */
  font-style: italic;
  font-size: 18px;
}

.related-author {
  /* Using class -> .classname */
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style-type: none;
} */
.related {
  list-style-type: none;
}

/* ? PSEUDO SELECTOR */
/* Much better to use on lists or sections with similar element children */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* li:nth-child(odd) {
  color: red;
} */

/*!Misconception: this won't work  */
article p:first-child {
  color: red;
}

/* Styling links (LVHA)  */
/* targets all a tag with href*  */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: lightgray; */
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy;
}

/* while clicking the link */
a:active {
  background-color: black;
  font-style: italic;
}

/* RESOLVING SELCTOR conflicts and inheritance */
/* If the priorty is of the same value, then the last bottom selector will be applied that has the same property */
#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  /* Use sparingly */
  color: green !important;
}
