h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1 {
  color: green;
  font-size: 26px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  /* 1.5 * font-size */
  line-height: 1.5;
}

/* it will select all p inside the footer (DESCENDANT SELECTOR) */
/* footer p {
  font-size: 16px;
} */
#copyright {
  font-size: 16px;
}

li {
  font-size: 20px;
}

/* article header p {
  font-style: italic;
} */
#author {
  /* Using id -> #idname */
  font-style: italic;
  font-size: 18px;
}

.related-author {
  /* Using class -> .classname */
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style-type: none;
} */
.related {
  list-style-type: none;
}
